#не проверял 
#RewriteCond %{HTTP_USER_AGENT} (?i:midp|samsung|iphone|android)
#RewriteRule ^(/)?$ https://cukasa.github.io/m [R=301]

RewriteEngine On
# Проверка mime типов, которые обычно поддерживаются мобильными устройствами 
#RewriteCond %{HTTP_ACCEPT} "text\/vnd\.wap\.wml|application\/vnd\.wap\.xhtml\+xml" [NC] 
#RewriteCond %{REQUEST_URI} ^/$ 
#RewriteRule ^ https://cukasa.github.io/m%{REQUEST_URI} [R,L]

#RewriteCond %{HTTP_USER_AGENT} ^Mozilla/5(.*)iPhone [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} (Mozilla/4)(.*)IEMobile [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} (Opera/)(.*)(\(Windows\sNT\s5.1\;\sU\;\sru\))$ [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} ^.*BlackBerry.*$ [NC,OR]
#RewriteCond %{HTTP_USER_AGENT} ^.*Android.*$ [NC]
#RewriteRule (.*) https://cukasa.github.io/m/ [L]
<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On

  #Проверка mime типов, которые обычно поддерживаются мобильными устройствами 
RewriteCond %{HTTP_ACCEPT} "text\/vnd\.wap\.wml|application\/vnd\.wap\.xhtml\+xml" [NC] 
RewriteCond %{REQUEST_URI} ^/$ 
RewriteRule ^ https://cukasa.github.io/m/%{REQUEST_URI} [R,L]

</IfModule>